@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');

:root {
  --font-fam: " Lobster", cursive;
  --font-base: 'Varela Round', sans-serif;

}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #b4f1b3;
  /* background: linear-gradient(0deg, #8bc34a, rgba(255, 255, 255, 0.5)), linear-gradient(107.46deg, rgb(65, 180, 188) 10.27%, #b3d3b5 121.32%);; */

}